<a href="https://colab.research.google.com/github/shahryarabbasmirza93/datathon/blob/main/NSWElectricityPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pprint
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [3]:
import io 

df = pd.read_csv('NSW.csv')
print(df)

        SETTLEMENTDATE  TOTALDEMAND
0          1/1/05 0:30   7255.10000
1          1/1/05 1:00   6990.71333
2          1/1/05 1:30   6613.26500
3          1/1/05 2:00   6275.18667
4          1/1/05 2:30   5962.21833
...                ...          ...
277579  31/10/20 22:00   7046.03000
277580  31/10/20 22:30   7036.16000
277581  31/10/20 23:00   6926.71000
277582  31/10/20 23:30   6728.18000
277583    1/11/20 0:00   6637.04000

[277584 rows x 2 columns]

In [4]:
dataset = df
dataset["Month"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.month
dataset["Year"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.year
dataset["Date"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.date
dataset["Time"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.time
dataset["Week"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.week
dataset["Day"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day_name()
dataset["dayofweek"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofweek
dataset["dayofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofyear
dataset["weekofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.weekofyear
dataset["quarter"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.quarter
dataset["dayofmonth"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day
dataset = df.set_index("SETTLEMENTDATE")
dataset.index = pd.to_datetime(dataset.index)
dataset.head(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # Remove the CWD from sys.path while we load stuff.

                     TOTALDEMAND  Month  Year  ... weekofyear quarter  dayofmonth
SETTLEMENTDATE                                 ...
2005-01-01 00:30:00       7255.1      1  2005  ...         53       1           1

[1 rows x 12 columns]

In [6]:
NewDataSet = dataset.resample('D').mean()
NewDataSet.head

<bound method NDFrame.head of                 TOTALDEMAND  Month    Year  ...  weekofyear  quarter  dayofmonth
SETTLEMENTDATE                              ...
2005-01-01      7153.841631    1.0  2005.0  ...        53.0      1.0         1.0
2005-01-02      9548.012396    1.0  2005.0  ...        53.0      1.0         2.0
2005-01-03      9290.314097    1.0  2005.0  ...         1.0      1.0         3.0
2005-01-04      8349.669862    1.0  2005.0  ...         1.0      1.0         4.0
2005-01-05      7428.763854    1.0  2005.0  ...         1.0      1.0         5.0
...                     ...    ...     ...  ...         ...      ...         ...
2020-12-06      8605.631667   12.0  2020.0  ...        49.0      4.0         6.0
2020-12-07      8193.315208   12.0  2020.0  ...        50.0      4.0         7.0
2020-12-08      8807.579167   12.0  2020.0  ...        50.0      4.0         8.0
2020-12-09      6913.052500   12.0  2020.0  ...        50.0      4.0         9.0
2020-12-10      6986.672292   12.0  2020.0  ...        50.0      4.0        10.0

[5823 rows x 9 columns]>

In [7]:
NewDataSet.dropna(axis=0,how='any',thresh=None,subset=None,inplace=True)

In [8]:
NewDataSet.to_csv('NewDataSet.csv')
!cp NewDataSet.csv "drive/My Drive/NewDataSet.csv"

cp: cannot create regular file 'drive/My Drive/NewDataSet.csv': No such file or directory

In [ ]:
max=dict(zip(temp_dt['Year'],temp_dt['Maximum temperature (Degree C)']))
min=dict(zip(temp_dt['Year'],temp_dt['Minimum temperature (Degree C)']))

In [ ]:
dataset['Maximum temperature (Degree C)'] = dataset['Minimum temperature (Degree C)'] = dataset['Date']

In [ ]:
dataset = dataset.replace({"Maximum temperature (Degree C)": max})
dataset = dataset.replace({"Minimum temperature (Degree C)": min})

In [ ]:
dataset

                     TOTALDEMAND  ...  Minimum temperature (Degree C)
SETTLEMENTDATE                    ...
2005-01-01 00:30:00   7255.10000  ...                            15.1
2005-01-01 01:00:00   6990.71333  ...                            15.1
2005-01-01 01:30:00   6613.26500  ...                            15.1
2005-01-01 02:00:00   6275.18667  ...                            15.1
2005-01-01 02:30:00   5962.21833  ...                            15.1
...                          ...  ...                             ...
2020-10-31 22:00:00   7046.03000  ...                            16.1
2020-10-31 22:30:00   7036.16000  ...                            16.1
2020-10-31 23:00:00   6926.71000  ...                            16.1
2020-10-31 23:30:00   6728.18000  ...                            16.1
2020-01-11 00:00:00   6637.04000  ...                            17.2

[277584 rows x 14 columns]

In [13]:
df = pd.read_excel('NSW1.xlsx')
print(df)

      TOTALDEMAND  Month  ...  holidays  population
0     7153.841631      1  ...         1     6311168
1     9548.012396      1  ...         0     6311168
2     9290.314097      1  ...         0     6311168
3     8349.669862      1  ...         0     6311168
4     7428.763854      1  ...         0     6311168
...           ...    ...  ...       ...         ...
5759  7427.134792     10  ...         0     7480228
5760  7341.675208     10  ...         0     7480228
5761  7229.192292     10  ...         0     7480228
5762  6967.797917     10  ...         0     7480228
5763  6756.294792     10  ...         0     7480228

[5764 rows x 13 columns]

In [14]:
df.isna().sum()

TOTALDEMAND                       0
Month                             0
Year                              0
Week                              0
dayofweek                         0
dayofyear                         0
weekofyear                        0
quarter                           0
dayofmonth                        0
Maximum temperature (Degree C)    0
Minimum temperature (Degree C)    0
holidays                          0
population                        0
dtype: int64

In [15]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor

In [16]:
y=df['TOTALDEMAND']
df_t=df.drop(['TOTALDEMAND'],axis=1)

In [17]:
train_X, val_X, train_y, val_y = train_test_split(df_t,y, test_size = 0.25, random_state = 14)

In [18]:
model = RandomForestRegressor()
model.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [19]:
df_t

      Month  Year  Week  ...  Minimum temperature (Degree C)  holidays  population
0         1  2005    53  ...                            15.1         1     6311168
1         1  2005    53  ...                            18.1         0     6311168
2         1  2005     1  ...                            17.3         0     6311168
3         1  2005     1  ...                            19.1         0     6311168
4         1  2005     1  ...                            18.9         0     6311168
...     ...   ...   ...  ...                             ...       ...         ...
5759     10  2020    44  ...                            16.0         0     7480228
5760     10  2020    44  ...                            12.4         0     7480228
5761     10  2020    44  ...                            10.2         0     7480228
5762     10  2020    44  ...                            12.4         0     7480228
5763     10  2020    44  ...                            16.0         0     7480228

[5764 rows x 12 columns]

In [20]:
predicted_demand = model.predict(df_t)

In [21]:
predicted_demand = pd.DataFrame(predicted_demand, columns=['predicted_demand']).to_csv('predicted_demand.csv')

**XGBoost Model**

In [22]:
XGBModel = XGBRegressor()
XGBModel.fit(df_t,y , verbose=False)

[11:04:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [23]:
XGBpredictions = XGBModel.predict(df_t)

In [24]:
XGBpredictions = pd.DataFrame(XGBpredictions, columns=['XGBpredictions']).to_csv('XGBpredictions.csv')