<a href="https://colab.research.google.com/github/shahryarabbasmirza93/datathon/blob/main/QLDElectricityPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pprint
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [ ]:
from google.colab import files 


uploaded = files.upload()

In [ ]:
import io 

df = pd.read_csv('QLD.csv')
print(df)

       SETTLEMENTDATE  TOTALDEMAND
0         1/1/05 0:30   4937.03500
1         1/1/05 1:00   4829.75500
2         1/1/05 1:30   4671.92833
3         1/1/05 2:00   4546.83500
4         1/1/05 2:30   4405.01167
...               ...          ...
231424   15/3/18 8:30   6310.03000
231425   15/3/18 9:00   6296.86000
231426   15/3/18 9:30   6445.07000
231427  15/3/18 10:00   6381.64000
231428            15/          NaN

[231429 rows x 2 columns]

In [ ]:
dataset = df
dataset["Month"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.month
dataset["Year"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.year
dataset["Date"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.date
dataset["Time"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.time
dataset["Week"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.week
dataset["Day"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day_name()
dataset["dayofweek"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofweek
dataset["dayofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofyear
dataset["weekofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.weekofyear
dataset["quarter"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.quarter
dataset["dayofmonth"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day
dataset = df.set_index("SETTLEMENTDATE")
dataset.index = pd.to_datetime(dataset.index)
dataset.head(1)

In [ ]:
NewDataSet = dataset.resample('D').mean()

In [ ]:
uploaded = files.upload()

Saving Min_Max_temp.xlsx to Min_Max_temp.xlsx

In [ ]:
temp_dt = pd.read_excel('Min_Max_temp.xlsx')
temp_dt.head(5)

        Year  Maximum temperature (Degree C)  Minimum temperature (Degree C)
0 2005-01-01                            28.1                            20.2
1 2005-01-02                            29.4                            19.1
2 2005-01-03                            30.4                            21.3
3 2005-01-04                            31.4                            23.2
4 2005-01-05                            33.9                            25.6

In [ ]:
#create a dictionary for min and max temperature 
max=dict(zip(temp_dt['Year'],temp_dt['Maximum temperature (Degree C)']))
min=dict(zip(temp_dt['Year'],temp_dt['Minimum temperature (Degree C)']))

In [ ]:
dataset['Maximum temperature (Degree C)'] = dataset['Minimum temperature (Degree C)'] = dataset['Date']

In [ ]:
dataset = dataset.replace({"Maximum temperature (Degree C)": max})
dataset = dataset.replace({"Minimum temperature (Degree C)": min})

In [ ]:
dataset.isna().sum()

TOTALDEMAND                       0
Month                             0
Year                              0
Date                              0
Time                              0
Week                              0
Day                               0
dayofweek                         0
dayofyear                         0
weekofyear                        0
quarter                           0
dayofmonth                        0
Maximum temperature (Degree C)    0
Minimum temperature (Degree C)    0
dtype: int64

In [ ]:
#Adding population 
uploaded = files.upload()

Saving Population.xlsx to Population.xlsx

In [ ]:
Population = pd.read_excel('Population.xlsx')
Population.head(5)

        Date  Population
0 2005-01-01     3585639
1 2005-01-02     3585639
2 2005-01-03     3585639
3 2005-01-04     3585639
4 2005-01-05     3585639

In [ ]:
pop=dict(zip(Population['Date'],Population['Population']))

In [ ]:
dataset['Population'] = dataset['Date']

dataset = dataset.replace({"Population": pop})

In [ ]:
#Adding postcode 
uploaded = files.upload()

Saving Postcode.xlsx to Postcode (1).xlsx

In [ ]:
postcode = pd.read_excel('Postcode (1).xlsx')

state=dict(zip(postcode['Date'],postcode['state']))

dataset['state'] = dataset['Date']

dataset = dataset.replace({"state": state})

In [ ]:
dataset

                     TOTALDEMAND  ...  Population
SETTLEMENTDATE                    ...
2005-01-01 00:30:00   4937.03500  ...     3585639
2005-01-01 01:00:00   4829.75500  ...     3585639
2005-01-01 01:30:00   4671.92833  ...     3585639
2005-01-01 02:00:00   4546.83500  ...     3585639
2005-01-01 02:30:00   4405.01167  ...     3585639
...                          ...  ...         ...
2020-10-31 22:00:00   6164.18000  ...     4703193
2020-10-31 22:30:00   6081.59000  ...     4703193
2020-10-31 23:00:00   6016.65000  ...     4703193
2020-10-31 23:30:00   5850.00000  ...     4703193
2020-01-11 00:00:00   5667.59000  ...     4703193

[277584 rows x 15 columns]

In [ ]:
Ndataset=dataset

In [ ]:
Ndataset.drop(columns=['Day', 'Time'])

                     TOTALDEMAND  ...  Population
SETTLEMENTDATE                    ...
2005-01-01 00:30:00   4937.03500  ...     3585639
2005-01-01 01:00:00   4829.75500  ...     3585639
2005-01-01 01:30:00   4671.92833  ...     3585639
2005-01-01 02:00:00   4546.83500  ...     3585639
2005-01-01 02:30:00   4405.01167  ...     3585639
...                          ...  ...         ...
2020-10-31 22:00:00   6164.18000  ...     4703193
2020-10-31 22:30:00   6081.59000  ...     4703193
2020-10-31 23:00:00   6016.65000  ...     4703193
2020-10-31 23:30:00   5850.00000  ...     4703193
2020-01-11 00:00:00   5667.59000  ...     4703193

[277584 rows x 13 columns]

In [ ]:
NewDataSet = Ndataset.resample('D').mean()
NewDataSet.head()

                TOTALDEMAND  Month    Year  ...  weekofyear  quarter  dayofmonth
SETTLEMENTDATE                              ...
2005-01-01      5121.403262    1.0  2005.0  ...        53.0      1.0         1.0
2005-01-02      6494.216945    1.0  2005.0  ...        53.0      1.0         2.0
2005-01-03      6177.883438    1.0  2005.0  ...         1.0      1.0         3.0
2005-01-04      5708.618403    1.0  2005.0  ...         1.0      1.0         4.0
2005-01-05      5149.836840    1.0  2005.0  ...         1.0      1.0         5.0

[5 rows x 9 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
NewDataSet.to_csv('NewDataSet.csv')
!cp NewDataSet.csv "drive/My Drive/NewDataSet.csv"

In [ ]:
df = pd.read_csv('NQLD1.csv')
print(df)

      TOTALDEMAND  Month  ...  Population  holidays
0     5121.403262      1  ...     3585639         1
1     6494.216945      1  ...     3585639         0
2     6177.883438      1  ...     3585639         0
3     5708.618403      1  ...     3585639         0
4     5149.836840      1  ...     3585639         0
...           ...    ...  ...         ...       ...
5750  5938.020833     10  ...     4703193         0
5751  5939.581458     10  ...     4703193         0
5752  5980.388125     10  ...     4703193         0
5753  5914.109792     10  ...     4703193         0
5754  6899.766250     10  ...     4703193         0

[5755 rows x 13 columns]

In [ ]:
df.dropna(axis=0,how='any',thresh=None,subset=None,inplace=True)

In [ ]:
df.isna().sum()

TOTALDEMAND                       0
Month                             0
Year                              0
Week                              0
dayofweek                         0
dayofyear                         0
weekofyear                        0
quarter                           0
dayofmonth                        0
Maximum temperature (Degree C)    0
Minimum temperature (Degree C)    0
Population                        0
holidays                          0
dtype: int64

In [ ]:
df

      TOTALDEMAND  Month  ...  Minimum temperature (Degree C)  Population
0     5121.403262    1.0  ...                            20.2     3585639
1     6494.216945    1.0  ...                            19.1     3585639
2     6177.883438    1.0  ...                            21.3     3585639
3     5708.618403    1.0  ...                            23.2     3585639
4     5149.836840    1.0  ...                            25.6     3585639
...           ...    ...  ...                             ...         ...
5778  5938.020833   10.0  ...                            21.1     4703193
5779  5939.581458   10.0  ...                            17.6     4703193
5780  5980.388125   10.0  ...                            16.6     4703193
5781  5914.109792   10.0  ...                            15.5     4703193
5782  6899.766250   11.0  ...                            22.5     4703193

[5755 rows x 12 columns]

In [ ]:
df.to_csv('NQLD.csv')
!cp NQLD.csv "drive/My Drive/NQLD.csv"

**New Model**

In [ ]:
df_Train=df.iloc[:5600,:]
df_Test=df.iloc[5500:,:]

In [ ]:
df_Test.drop(['TOTALDEMAND'],axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
X_train=df_Train.drop(['TOTALDEMAND'],axis=1)
Y_train=df_Train['TOTALDEMAND']

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [ ]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(8,activation='relu',input_shape= (11,)))

# Adding the second hidden layer
classifier.add(Dense(8,activation='relu'))

# Adding the third hidden layer
classifier.add(Dense(8,activation='relu'))
# Adding the output layer
classifier.add(Dense(1))

# Compiling the ANN
classifier.compile(loss='mean_squared_error', optimizer='Adam')

In [ ]:
classifier.fit(X_train,Y_train,epochs=30, callbacks=[keras.callbacks.EarlyStopping(patience=3)])

Epoch 1/30
118/175 [===================>..........] - ETA: 0s - loss: 2563735.7500WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 846us/step - loss: 1845085.5000
Epoch 2/30
170/175 [============================>.] - ETA: 0s - loss: 360232.2500WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 924us/step - loss: 359809.5000
Epoch 3/30
124/175 [====================>.........] - ETA: 0s - loss: 376456.8438WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 830us/step - loss: 369854.8438
Epoch 4/30
124/175 [====================>.........] - ETA: 0s - loss: 359058.8750WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 816us/step - loss: 360264.5625
Epoch 5/30
166/175 [===========================>..] - ETA: 0s - loss: 376403.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 966us/step - loss: 375147.2500
Epoch 6/30
120/175 [===================>..........] - ETA: 0s - loss: 373609.5312WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 861us/step - loss: 375618.7812
Epoch 7/30
117/175 [===================>..........] - ETA: 0s - loss: 380882.6562WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 879us/step - loss: 382225.8750
Epoch 8/30
154/175 [=========================>....] - ETA: 0s - loss: 374281.7812WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 991us/step - loss: 376441.1250
Epoch 9/30
164/175 [===========================>..] - ETA: 0s - loss: 380165.8438WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 943us/step - loss: 377292.6250
Epoch 10/30
173/175 [============================>.] - ETA: 0s - loss: 399898.9688WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 904us/step - loss: 400069.1562
Epoch 11/30
169/175 [===========================>..] - ETA: 0s - loss: 409879.8438WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 927us/step - loss: 407629.6562
Epoch 12/30
135/175 [======================>.......] - ETA: 0s - loss: 406770.0625WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 1ms/step - loss: 401187.9375
Epoch 13/30
117/175 [===================>..........] - ETA: 0s - loss: 415929.5312WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 858us/step - loss: 406318.4375
Epoch 14/30
172/175 [============================>.] - ETA: 0s - loss: 392374.6875WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 911us/step - loss: 398204.2500
Epoch 15/30
119/175 [===================>..........] - ETA: 0s - loss: 396349.6875WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 879us/step - loss: 395093.2188
Epoch 16/30
169/175 [===========================>..] - ETA: 0s - loss: 391542.0625WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 930us/step - loss: 392120.0312
Epoch 17/30
169/175 [===========================>..] - ETA: 0s - loss: 412314.3750WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 927us/step - loss: 409444.9375
Epoch 18/30
172/175 [============================>.] - ETA: 0s - loss: 391322.6875WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 909us/step - loss: 392040.6875
Epoch 19/30
164/175 [===========================>..] - ETA: 0s - loss: 431157.3750WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 947us/step - loss: 429895.8750
Epoch 20/30
119/175 [===================>..........] - ETA: 0s - loss: 398417.2188WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 863us/step - loss: 392574.3438
Epoch 21/30
156/175 [=========================>....] - ETA: 0s - loss: 397052.5625WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 1ms/step - loss: 393998.1250
Epoch 22/30
146/175 [========================>.....] - ETA: 0s - loss: 370731.1250WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 1ms/step - loss: 373508.7188
Epoch 23/30
174/175 [============================>.] - ETA: 0s - loss: 393580.8125WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 913us/step - loss: 393034.3438
Epoch 24/30
174/175 [============================>.] - ETA: 0s - loss: 410155.5312WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 911us/step - loss: 410893.9375
Epoch 25/30
174/175 [============================>.] - ETA: 0s - loss: 389179.5312WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 900us/step - loss: 388604.3750
Epoch 26/30
120/175 [===================>..........] - ETA: 0s - loss: 388977.2188WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 855us/step - loss: 391606.8125
Epoch 27/30
118/175 [===================>..........] - ETA: 0s - loss: 429339.7500WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 864us/step - loss: 420717.1250
Epoch 28/30
164/175 [===========================>..] - ETA: 0s - loss: 380404.0625WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 954us/step - loss: 382681.0938
Epoch 29/30
142/175 [=======================>......] - ETA: 0s - loss: 375876.2188WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 1ms/step - loss: 377895.7812
Epoch 30/30
161/175 [==========================>...] - ETA: 0s - loss: 388969.6562WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
175/175 [==============================] - 0s 985us/step - loss: 389229.2188

In [ ]:
predictions = classifier.predict(df_Test)

In [ ]:
predictions

array([[6286.5024],
       [6286.4966],
       [6286.36  ],
       [6286.629 ],
       [6286.625 ],
       [6286.651 ],
       [6286.6226],
       [6286.584 ],
       [6286.4966],
       [6286.4087],
       [6286.8076],
       [6286.592 ],
       [6286.3223],
       [6286.369 ],
       [6286.4507],
       [6286.5234],
       [6286.4844],
       [6286.63  ],
       [6286.6904],
       [6286.7607],
       [6286.7935],
       [6287.1274],
       [6287.0376],
       [6287.1333],
       [6286.987 ],
       [6286.9536],
       [6287.006 ],
       [6286.7324],
       [6287.0215],
       [6287.0083],
       [6287.0884],
       [6287.185 ],
       [6287.033 ],
       [6287.133 ],
       [6286.8535],
       [6287.207 ],
       [6287.224 ],
       [6287.2085],
       [6287.355 ],
       [6287.307 ],
       [6287.2456],
       [6287.0986],
       [6287.087 ],
       [6286.9834],
       [6286.985 ],
       [6287.0835],
       [6287.3247],
       [6287.2583],
       [6287.2505],
       [6287.213 ],
       [6287.2485],
       [6287.3364],
       [6287.5   ],
       [6287.668 ],
       [6287.57  ],
       [6287.523 ],
       [6287.4043],
       [6287.443 ],
       [6287.4116],
       [6287.4097],
       [6287.7607],
       [6287.843 ],
       [6287.679 ],
       [6287.654 ],
       [6287.646 ],
       [6287.8403],
       [6287.5835],
       [6287.709 ],
       [6287.737 ],
       [6287.694 ],
       [6287.6978],
       [6287.7734],
       [6287.791 ],
       [6287.8105],
       [6287.7993],
       [6288.0356],
       [6288.0273],
       [6287.6953],
       [6287.942 ],
       [6287.926 ],
       [6288.0947],
       [6288.0176],
       [6288.019 ],
       [6287.9814],
       [6287.978 ],
       [6288.2256],
       [6288.311 ],
       [6288.2334],
       [6288.1904],
       [6287.8486],
       [6287.7285],
       [6287.8335],
       [6287.9854],
       [6288.05  ],
       [6288.0874],
       [6288.0767],
       [6288.0874],
       [6288.1006],
       [6288.305 ],
       [6288.309 ],
       [6288.1875],
       [6288.2188],
       [6288.205 ],
       [6288.5073],
       [6288.4937],
       [6288.449 ],
       [6288.3667],
       [6288.119 ],
       [6287.8354],
       [6288.0054],
       [6288.3877],
       [6288.456 ],
       [6288.4478],
       [6288.5864],
       [6288.6216],
       [6288.5254],
       [6288.5024],
       [6288.632 ],
       [6288.5244],
       [6288.286 ],
       [6288.389 ],
       [6288.469 ],
       [6288.319 ],
       [6288.3696],
       [6288.696 ],
       [6288.6196],
       [6288.758 ],
       [6288.924 ],
       [6289.0483],
       [6289.031 ],
       [6288.9297],
       [6288.941 ],
       [6288.818 ],
       [6288.812 ],
       [6288.87  ],
       [6289.115 ],
       [6288.7666],
       [6288.9014],
       [6288.73  ],
       [6288.739 ],
       [6288.872 ],
       [6288.8633],
       [6289.1973],
       [6289.101 ],
       [6289.024 ],
       [6289.0005],
       [6289.0864],
       [6289.004 ],
       [6288.7173],
       [6289.065 ],
       [6289.0806],
       [6289.239 ],
       [6289.274 ],
       [6289.558 ],
       [6289.2593],
       [6289.3135],
       [6289.294 ],
       [6289.277 ],
       [6289.31  ],
       [6289.31  ],
       [6289.626 ],
       [6289.6514],
       [6289.512 ],
       [6289.5645],
       [6289.649 ],
       [6289.674 ],
       [6289.863 ],
       [6289.777 ],
       [6289.847 ],
       [6289.683 ],
       [6289.7627],
       [6289.767 ],
       [6289.7173],
       [6289.571 ],
       [6289.877 ],
       [6289.9414],
       [6289.8267],
       [6289.787 ],
       [6289.953 ],
       [6290.103 ],
       [6289.6577],
       [6290.151 ],
       [6290.189 ],
       [6290.4683],
       [6290.0947],
       [6290.2617],
       [6290.206 ],
       [6290.5586],
       [6290.5063],
       [6290.3286],
       [6290.2896],
       [6290.136 ],
       [6290.4453],
       [6290.156 ],
       [6290.182 ],
       [6290.3765],
       [6290.4297],
       [6290.5093],
       [6290.4805],
       [6290.6514],
       [6290.549 ],
       [6290.696 ],
       [6290.7695],
       [6290.7554],
       [6290.655 ],
       [6290.709 ],
       [6291.0146],
       [6290.8335],
       [6290.844 ],
       [6290.7124],
       [6291.1084],
       [6291.0786],
       [6291.053 ],
       [6291.0337],
       [6291.109 ],
       [6291.121 ],
       [6291.1973],
       [6291.564 ],
       [6291.74  ],
       [6291.722 ],
       [6291.529 ],
       [6291.3237],
       [6291.287 ],
       [6290.8965],
       [6291.3467],
       [6291.46  ],
       [6291.3135],
       [6291.391 ],
       [6291.398 ],
       [6291.4937],
       [6291.5386],
       [6291.8604],
       [6291.7026],
       [6291.6533],
       [6291.624 ],
       [6291.712 ],
       [6291.92  ],
       [6291.881 ],
       [6291.8013],
       [6291.7876],
       [6291.834 ],
       [6291.877 ],
       [6292.3223],
       [6292.1343],
       [6292.046 ],
       [6292.0806],
       [6292.2373],
       [6292.216 ],
       [6292.2334],
       [6292.4575],
       [6292.444 ],
       [6292.28  ],
       [6292.196 ],
       [6292.233 ],
       [6292.586 ]], dtype=float32)

In [ ]:
pre= predictions

In [ ]:
df_Test

      Month    Year  ...  Minimum temperature (Degree C)  Population
5501    1.0  2020.0  ...                            25.1     4703193
5502    1.0  2020.0  ...                            25.9     4703193
5503    1.0  2020.0  ...                            24.1     4703193
5504    1.0  2020.0  ...                            24.1     4703193
5505    1.0  2020.0  ...                            23.7     4703193
...     ...     ...  ...                             ...         ...
5778   10.0  2020.0  ...                            21.1     4703193
5779   10.0  2020.0  ...                            17.6     4703193
5780   10.0  2020.0  ...                            16.6     4703193
5781   10.0  2020.0  ...                            15.5     4703193
5782   11.0  2020.0  ...                            22.5     4703193

[255 rows x 11 columns]

In [ ]:
df_Train

      TOTALDEMAND  Month  ...  Minimum temperature (Degree C)  Population
0     5121.403262    1.0  ...                            20.2     3585639
1     6494.216945    1.0  ...                            19.1     3585639
2     6177.883438    1.0  ...                            21.3     3585639
3     5708.618403    1.0  ...                            23.2     3585639
4     5149.836840    1.0  ...                            25.6     3585639
...           ...    ...  ...                             ...         ...
5605  5724.745208    5.0  ...                            15.1     4703193
5606  5171.939583    5.0  ...                            15.0     4703193
5607  5254.885625    5.0  ...                            15.1     4703193
5611  5723.330625    5.0  ...                            16.0     4703193
5612  5552.747292    5.0  ...                            16.1     4703193

[5600 rows x 12 columns]

In [ ]:
import numpy as np
import pandas as pd
prediction = pd.DataFrame(predictions, columns=['predictions']).to_csv('prediction.csv')

In [ ]:
df = pd.read_csv('NQLD1.csv')
print(df)

      TOTALDEMAND  Month  ...  Population  holidays
0     5121.403262      1  ...     3585639         1
1     6494.216945      1  ...     3585639         0
2     6177.883438      1  ...     3585639         0
3     5708.618403      1  ...     3585639         0
4     5149.836840      1  ...     3585639         0
...           ...    ...  ...         ...       ...
5750  5938.020833     10  ...     4703193         0
5751  5939.581458     10  ...     4703193         0
5752  5980.388125     10  ...     4703193         0
5753  5914.109792     10  ...     4703193         0
5754  6899.766250     10  ...     4703193         0

[5755 rows x 13 columns]

In [ ]:
df.isna().sum()

TOTALDEMAND                       0
Month                             0
Year                              0
Week                              0
dayofweek                         0
dayofyear                         0
weekofyear                        0
quarter                           0
dayofmonth                        0
Maximum temperature (Degree C)    0
Minimum temperature (Degree C)    0
Population                        0
holidays                          0
dtype: int64

In [ ]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor

In [ ]:
y=df['TOTALDEMAND']
df_t=df.drop(['TOTALDEMAND'],axis=1)

In [ ]:
train_X, val_X, train_y, val_y = train_test_split(df_t,y, test_size = 0.25, random_state = 14)

In [ ]:
model = RandomForestRegressor()
model.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
df_t

      Month  Year  Week  ...  Minimum temperature (Degree C)  Population  holidays
0         1  2005    53  ...                            20.2     3585639         1
1         1  2005    53  ...                            19.1     3585639         0
2         1  2005     1  ...                            21.3     3585639         0
3         1  2005     1  ...                            23.2     3585639         0
4         1  2005     1  ...                            25.6     3585639         0
...     ...   ...   ...  ...                             ...         ...       ...
5750     10  2020    44  ...                            21.1     4703193         0
5751     10  2020    44  ...                            17.6     4703193         0
5752     10  2020    44  ...                            16.6     4703193         0
5753     10  2020    44  ...                            15.5     4703193         0
5754     10  2020    44  ...                            22.5     4703193         0

[5755 rows x 12 columns]

In [ ]:
predicted_demand = model.predict(df_t)

In [ ]:
predicted_demand = model.predict(df_t)
predicted_demand = pd.DataFrame(predicted_demand, columns=['predicted_demand']).to_csv('predicted_demand.csv')

**XGBoost Model**

In [ ]:
XGBModel = XGBRegressor()
XGBModel.fit(df_t,y , verbose=False)

[11:39:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
XGBpredictions = XGBModel.predict(df_t)

In [ ]:
XGBpredictions = pd.DataFrame(XGBpredictions, columns=['XGBpredictions']).to_csv('XGBpredictions.csv')