<a href="https://colab.research.google.com/github/shahryarabbasmirza93/datathon/blob/main/SA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pprint
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [ ]:
from google.colab import files 


uploaded = files.upload()

In [ ]:
import io 

df = pd.read_csv('SA.csv')
print(df)

        SETTLEMENTDATE  TOTALDEMAND
0          1/1/05 0:30   1468.00000
1          1/1/05 1:00   1433.78000
2          1/1/05 1:30   1320.29333
3          1/1/05 2:00   1244.13667
4          1/1/05 2:30   1174.03167
...                ...          ...
277579  31/10/20 22:00   1279.25000
277580  31/10/20 22:30   1241.68000
277581  31/10/20 23:00   1217.79000
277582  31/10/20 23:30   1242.33000
277583    1/11/20 0:00   1420.39000

[277584 rows x 2 columns]

In [ ]:
#split 'SETTLEMENTDATE' column 
dataset = df
dataset["Month"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.month
dataset["Year"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.year
dataset["Date"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.date
dataset["Time"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.time
dataset["Week"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.week
dataset["Day"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day_name()
dataset["dayofweek"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofweek
dataset["dayofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofyear
dataset["weekofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.weekofyear
dataset["quarter"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.quarter
dataset["dayofmonth"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day
dataset = df.set_index("SETTLEMENTDATE")
dataset.index = pd.to_datetime(dataset.index)
dataset.head(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # Remove the CWD from sys.path while we load stuff.

                     TOTALDEMAND  Month  Year  ... weekofyear quarter  dayofmonth
SETTLEMENTDATE                                 ...
2005-01-01 00:30:00       1468.0      1  2005  ...         53       1           1

[1 rows x 12 columns]

In [ ]:
#resample the dataset
NewDataSet = dataset.resample('D').mean()

In [ ]:
NewDataSet

                TOTALDEMAND  Month    Year  ...  weekofyear  quarter  dayofmonth
SETTLEMENTDATE                              ...
2005-01-01      1168.358262    1.0  2005.0  ...        53.0      1.0         1.0
2005-01-02      1472.166597    1.0  2005.0  ...        53.0      1.0         2.0
2005-01-03      1684.569375    1.0  2005.0  ...         1.0      1.0         3.0
2005-01-04      1791.292743    1.0  2005.0  ...         1.0      1.0         4.0
2005-01-05      1198.732013    1.0  2005.0  ...         1.0      1.0         5.0
...                     ...    ...     ...  ...         ...      ...         ...
2020-12-06      1493.892292   12.0  2020.0  ...        49.0      4.0         6.0
2020-12-07      1418.408333   12.0  2020.0  ...        50.0      4.0         7.0
2020-12-08      1452.852292   12.0  2020.0  ...        50.0      4.0         8.0
2020-12-09      1104.446667   12.0  2020.0  ...        50.0      4.0         9.0
2020-12-10      1043.333125   12.0  2020.0  ...        50.0      4.0        10.0

[5823 rows x 9 columns]

In [ ]:
#drop na values
NewDataSet.dropna(axis=0,how='any',thresh=None,subset=None,inplace=True)

In [ ]:
NewDataSet

                TOTALDEMAND  Month    Year  ...  weekofyear  quarter  dayofmonth
SETTLEMENTDATE                              ...
2005-01-01      1168.358262    1.0  2005.0  ...        53.0      1.0         1.0
2005-01-02      1472.166597    1.0  2005.0  ...        53.0      1.0         2.0
2005-01-03      1684.569375    1.0  2005.0  ...         1.0      1.0         3.0
2005-01-04      1791.292743    1.0  2005.0  ...         1.0      1.0         4.0
2005-01-05      1198.732013    1.0  2005.0  ...         1.0      1.0         5.0
...                     ...    ...     ...  ...         ...      ...         ...
2020-12-06      1493.892292   12.0  2020.0  ...        49.0      4.0         6.0
2020-12-07      1418.408333   12.0  2020.0  ...        50.0      4.0         7.0
2020-12-08      1452.852292   12.0  2020.0  ...        50.0      4.0         8.0
2020-12-09      1104.446667   12.0  2020.0  ...        50.0      4.0         9.0
2020-12-10      1043.333125   12.0  2020.0  ...        50.0      4.0        10.0

[5784 rows x 9 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [216]:
#export dataset
NewDataSet.to_csv('NewDataSet.csv')
!cp NewDataSet.csv "drive/My Drive/NewDataSet.csv"

In [ ]:
temp_dt = pd.read_excel('Min_Max_temp.xlsx')
temp_dt.head(5)

   Maximum temperature (Degree C)  Minimum temperature (Degree C)       Year
0                            28.8                            15.1 2005-01-01
1                            30.0                            11.4 2005-01-02
2                            34.0                            16.5 2005-01-03
3                            23.4                            14.9 2005-01-04
4                            23.4                            13.0 2005-01-05

In [ ]:
#create a dictionary for min and max temperature 
max=dict(zip(temp_dt['Year'],temp_dt['Maximum temperature (Degree C)']))
min=dict(zip(temp_dt['Year'],temp_dt['Minimum temperature (Degree C)']))

In [ ]:
dataset['Maximum temperature (Degree C)'] = dataset['Minimum temperature (Degree C)'] = dataset['Date']

In [ ]:
dataset = dataset.replace({"Maximum temperature (Degree C)": max})
dataset = dataset.replace({"Minimum temperature (Degree C)": min})

KeyboardInterrupt: ignored

In [ ]:
dataset.isna().sum()

TOTALDEMAND                       0
Month                             0
Year                              0
Date                              0
Time                              0
Week                              0
Day                               0
dayofweek                         0
dayofyear                         0
weekofyear                        0
quarter                           0
dayofmonth                        0
Maximum temperature (Degree C)    0
Minimum temperature (Degree C)    0
dtype: int64

In [ ]:
#Adding population 
uploaded = files.upload()

Saving Population.xlsx to Population.xlsx

In [ ]:
Population = pd.read_excel('Population.xlsx')
Population.head(5)

        Date  Population
0 2005-01-01     1458912
1 2005-01-02     1458912
2 2005-01-03     1458912
3 2005-01-04     1458912
4 2005-01-05     1458912

In [ ]:
pop=dict(zip(Population['Date'],Population['Population']))

In [ ]:
dataset['Population'] = dataset['Date']

dataset = dataset.replace({"Population": pop})

In [ ]:
dataset

                TOTALDEMAND  Month    Year  ...  weekofyear  quarter  dayofmonth
SETTLEMENTDATE                              ...
2005-01-01      1168.358262    1.0  2005.0  ...        53.0      1.0         1.0
2005-01-02      1472.166597    1.0  2005.0  ...        53.0      1.0         2.0
2005-01-03      1684.569375    1.0  2005.0  ...         1.0      1.0         3.0
2005-01-04      1791.292743    1.0  2005.0  ...         1.0      1.0         4.0
2005-01-05      1198.732013    1.0  2005.0  ...         1.0      1.0         5.0
...                     ...    ...     ...  ...         ...      ...         ...
2020-12-06      1493.892292   12.0  2020.0  ...        49.0      4.0         6.0
2020-12-07      1418.408333   12.0  2020.0  ...        50.0      4.0         7.0
2020-12-08      1452.852292   12.0  2020.0  ...        50.0      4.0         8.0
2020-12-09      1104.446667   12.0  2020.0  ...        50.0      4.0         9.0
2020-12-10      1043.333125   12.0  2020.0  ...        50.0      4.0        10.0

[5823 rows x 9 columns]

In [ ]:
NewDataSet = dataset.resample('D').mean()
NewDataSet

                TOTALDEMAND  Month    Year  ...  weekofyear  quarter  dayofmonth
SETTLEMENTDATE                              ...
2005-01-01      1168.358262    1.0  2005.0  ...        53.0      1.0         1.0
2005-01-02      1472.166597    1.0  2005.0  ...        53.0      1.0         2.0
2005-01-03      1684.569375    1.0  2005.0  ...         1.0      1.0         3.0
2005-01-04      1791.292743    1.0  2005.0  ...         1.0      1.0         4.0
2005-01-05      1198.732013    1.0  2005.0  ...         1.0      1.0         5.0
...                     ...    ...     ...  ...         ...      ...         ...
2020-12-06      1493.892292   12.0  2020.0  ...        49.0      4.0         6.0
2020-12-07      1418.408333   12.0  2020.0  ...        50.0      4.0         7.0
2020-12-08      1452.852292   12.0  2020.0  ...        50.0      4.0         8.0
2020-12-09      1104.446667   12.0  2020.0  ...        50.0      4.0         9.0
2020-12-10      1043.333125   12.0  2020.0  ...        50.0      4.0        10.0

[5823 rows x 9 columns]

**Building NN**

In [ ]:
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [ ]:
#normalisation of the data set

                     TOTALDEMAND  ...  Population
SETTLEMENTDATE                    ...
2005-01-01 11:00:00         1168  ...     1458912
2005-01-01 14:00:00         1197  ...     1458912
2005-01-01 19:00:00         1202  ...     1458912
2005-01-01 20:30:00         1214  ...     1458912
2005-01-01 22:00:00         1186  ...     1458912
...                          ...  ...         ...
2020-10-31 00:30:00         1288  ...     1676653
2020-10-31 03:00:00         1096  ...     1676653
2020-10-31 14:30:00          844  ...     1676653
2020-10-31 17:30:00         1197  ...     1676653
2020-10-31 21:30:00         1312  ...     1676653

[55517 rows x 15 columns]

In [ ]:
NewDataSet = dataset.resample('D').mean()

**Neural Network**

In [ ]:
df = pd.read_csv('NewDataSet.csv')
print(df)

     SETTLEMENTDATE  TOTALDEMAND  Month  ...  population  Public_holidays  holidays
0            1/1/05  1168.358262      1  ...     1458912           1/1/05   #VALUE!
1            2/1/05  1472.166597      1  ...     1458912          26/1/05       NaN
2            3/1/05  1684.569375      1  ...     1458912          25/3/05       NaN
3            4/1/05  1791.292743      1  ...     1458912          26/3/05       NaN
4            5/1/05  1198.732013      1  ...     1458912          28/3/05       NaN
...             ...          ...    ...  ...         ...              ...       ...
5759       27/10/20  1175.255000     10  ...     1676653              NaN       NaN
5760       28/10/20  1049.599792     10  ...     1676653              NaN       NaN
5761       29/10/20  1170.582708     10  ...     1676653              NaN       NaN
5762       30/10/20  1173.965625     10  ...     1676653              NaN       NaN
5763       31/10/20  1082.375833     10  ...     1676653              NaN       NaN

[5764 rows x 15 columns]

In [ ]:
df=df.drop(columns=['SETTLEMENTDATE','Public_holidays'])

In [ ]:
# Replace holidays with numerical values Where 0 represents NO holidays and 1 represent holiday
Holidays = {'#VALUE!': 1,'NAN': 0}

In [ ]:
df.holidays[df.holidays == '#VALUE!'] = 1
df.holidays[df.holidays == 'NAN'] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df['holidays'] = df['holidays'].fillna(0)

In [ ]:
df.isna().sum()

TOTALDEMAND                       0
Month                             0
Year                              0
Week                              0
dayofweek                         0
dayofyear                         0
weekofyear                        0
quarter                           0
dayofmonth                        0
Maximum temperature (Degree C)    0
Minimum temperature (Degree C)    0
population                        0
holidays                          0
dtype: int64

In [217]:
df.to_csv('df.csv')
!cp df.csv "drive/My Drive/df.csv"

In [ ]:
df_Train=df.iloc[:4000,:]
df_Test=df.iloc[:4000,:]

In [ ]:
df_Test.drop(['TOTALDEMAND'],axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
X_train=df_Train.drop(['TOTALDEMAND'],axis=1)
Y_train=df_Train['TOTALDEMAND']

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [ ]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(128,activation='relu',input_shape= (12,)))

# Adding the second hidden layer
classifier.add(Dense(256,activation='relu'))

# Adding the third hidden layer
classifier.add(Dense(256,activation='relu'))



# Adding the output layer
classifier.add(Dense(1))

# Compiling the ANN
classifier.compile(loss='mean_squared_error', optimizer='Adam')

In [ ]:
classifier.fit(X_train,Y_train,epochs=30, callbacks=[keras.callbacks.EarlyStopping(patience=3)])

Epoch 1/30
109/125 [=========================>....] - ETA: 0s - loss: 293027168.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 255527712.0000
Epoch 2/30
104/125 [=======================>......] - ETA: 0s - loss: 53965.6328WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 53820.1914
Epoch 3/30
101/125 [=======================>......] - ETA: 0s - loss: 59150.8359WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 60771.8867
Epoch 4/30
101/125 [=======================>......] - ETA: 0s - loss: 59110.0898WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 58893.6445
Epoch 5/30
105/125 [========================>.....] - ETA: 0s - loss: 78478.0781WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 83144.0625
Epoch 6/30
109/125 [=========================>....] - ETA: 0s - loss: 75125.6172WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 73842.2656
Epoch 7/30
103/125 [=======================>......] - ETA: 0s - loss: 61002.3203WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 61979.5742
Epoch 8/30
107/125 [========================>.....] - ETA: 0s - loss: 84329.8047WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 79780.9688
Epoch 9/30
106/125 [========================>.....] - ETA: 0s - loss: 73902.8750WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 70687.5234
Epoch 10/30
104/125 [=======================>......] - ETA: 0s - loss: 85401.4688WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 82669.5703
Epoch 11/30
103/125 [=======================>......] - ETA: 0s - loss: 90418.4844WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 92575.6328
Epoch 12/30
104/125 [=======================>......] - ETA: 0s - loss: 146931.0625WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 145702.1719
Epoch 13/30
106/125 [========================>.....] - ETA: 0s - loss: 168625.6719WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 154719.8750
Epoch 14/30
107/125 [========================>.....] - ETA: 0s - loss: 165807.2344WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 156826.2500
Epoch 15/30
102/125 [=======================>......] - ETA: 0s - loss: 438654.4062WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 433915.0312
Epoch 16/30
105/125 [========================>.....] - ETA: 0s - loss: 498084.0625WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 535381.2500
Epoch 17/30
107/125 [========================>.....] - ETA: 0s - loss: 881535.9375WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 791478.3125
Epoch 18/30
109/125 [=========================>....] - ETA: 0s - loss: 6761762.5000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 5936280.5000
Epoch 19/30
 99/125 [======================>.......] - ETA: 0s - loss: 183911.8594WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 179848.4375
Epoch 20/30
106/125 [========================>.....] - ETA: 0s - loss: 166057.3438WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 160427.5000
Epoch 21/30
108/125 [========================>.....] - ETA: 0s - loss: 326647.4688WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 295547.3750
Epoch 22/30
102/125 [=======================>......] - ETA: 0s - loss: 361948.7188WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 350629.4375
Epoch 23/30
103/125 [=======================>......] - ETA: 0s - loss: 636560.9375WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 632950.3125
Epoch 24/30
106/125 [========================>.....] - ETA: 0s - loss: 30331644.0000WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 25740116.0000
Epoch 25/30
106/125 [========================>.....] - ETA: 0s - loss: 137083.4375WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 127837.8750
Epoch 26/30
106/125 [========================>.....] - ETA: 0s - loss: 91652.8359WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 91650.1719
Epoch 27/30
125/125 [==============================] - ETA: 0s - loss: 119054.9453WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 119054.9453
Epoch 28/30
101/125 [=======================>......] - ETA: 0s - loss: 107230.9688WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 103360.9062
Epoch 29/30
108/125 [========================>.....] - ETA: 0s - loss: 136237.6094WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 549432.8750
Epoch 30/30
101/125 [=======================>......] - ETA: 0s - loss: 1184022.1250WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
125/125 [==============================] - 0s 2ms/step - loss: 971584.5625

In [ ]:
predictions = classifier.predict(df_Test)

In [ ]:
predictions

array([[1325.038 ],
       [1324.9633],
       [1324.9178],
       ...,
       [1391.0829],
       [1391.0692],
       [1390.9735]], dtype=float32)

In [ ]:
import numpy as np
import pandas as pd
prediction = pd.DataFrame(predictions, columns=['predictions']).to_csv('prediction.csv')

In [ ]:
df_Test

      Month  Year  Week  ...  Minimum temperature (Degree C)  population  holidays
4000     12  2015    51  ...                            17.9     1596572         0
4001     12  2015    51  ...                            20.7     1596572         0
4002     12  2015    51  ...                            19.6     1596572         0
4003     12  2015    51  ...                            20.1     1596572         0
4004     12  2015    51  ...                            21.0     1596572         0
...     ...   ...   ...  ...                             ...         ...       ...
5759     10  2020    44  ...                             8.1     1676653         0
5760     10  2020    44  ...                             6.6     1676653         0
5761     10  2020    44  ...                             6.1     1676653         0
5762     10  2020    44  ...                             3.9     1676653         0
5763     10  2020    44  ...                             6.7     1676653         0

[1764 rows x 12 columns]

In [ ]:
df_Train

      TOTALDEMAND  Month  ...  population  holidays
0     1168.358262      1  ...     1458912         1
1     1472.166597      1  ...     1458912         0
2     1684.569375      1  ...     1458912         0
3     1791.292743      1  ...     1458912         0
4     1198.732013      1  ...     1458912         0
...           ...    ...  ...         ...       ...
3995  1318.198125     12  ...     1596572         0
3996  1297.730833     12  ...     1596572         0
3997  1193.353333     12  ...     1596572         0
3998  1296.912917     12  ...     1596572         0
3999  1649.795208     12  ...     1596572         0

[4000 rows x 13 columns]

In [ ]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor

In [ ]:
y=df['TOTALDEMAND']
df_t=df.drop(['TOTALDEMAND'],axis=1)

In [ ]:
train_X, val_X, train_y, val_y = train_test_split(df_t,y, test_size = 0.25, random_state = 14)

In [ ]:
model = RandomForestRegressor()
model.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
df_t

      Month  Year  Week  ...  Minimum temperature (Degree C)  population  holidays
0         1  2005    53  ...                            15.1     1458912         1
1         1  2005    53  ...                            11.4     1458912         0
2         1  2005     1  ...                            16.5     1458912         0
3         1  2005     1  ...                            14.9     1458912         0
4         1  2005     1  ...                            13.0     1458912         0
...     ...   ...   ...  ...                             ...         ...       ...
5759     10  2020    44  ...                             8.1     1676653         0
5760     10  2020    44  ...                             6.6     1676653         0
5761     10  2020    44  ...                             6.1     1676653         0
5762     10  2020    44  ...                             3.9     1676653         0
5763     10  2020    44  ...                             6.7     1676653         0

[5764 rows x 12 columns]

In [ ]:

predicted_demand = model.predict(df_t)

In [ ]:
predicted_demand = model.predict(df_t)
predicted_demand = pd.DataFrame(predicted_demand, columns=['predicted_demand']).to_csv('predicted_demand.csv')

**XGBoost Model**

In [218]:
XGBModel = XGBRegressor()
XGBModel.fit(df_t,y , verbose=False)

[11:07:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [219]:
XGBpredictions = XGBModel.predict(df_t)

In [220]:
XGBpredictions = pd.DataFrame(XGBpredictions, columns=['XGBpredictions']).to_csv('XGBpredictions.csv')