<a href="https://colab.research.google.com/github/shahryarabbasmirza93/datathon/blob/main/VICElectricitPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pprint
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [2]:
import io 

df = pd.read_csv('merge-csv.com__5fa53c262cdcf.csv')
print(df)

        SETTLEMENTDATE  TOTALDEMAND
0          1/1/05 0:30   5033.86667
1          1/1/05 1:00   4842.28667
2          1/1/05 1:30   5180.80500
3          1/1/05 2:00   4955.66667
4          1/1/05 2:30   4647.71500
...                ...          ...
277579  31/10/20 22:00   4371.16000
277580  31/10/20 22:30   4231.38000
277581  31/10/20 23:00   4200.92000
277582  31/10/20 23:30   4401.31000
277583    1/11/20 0:00   4357.60000

[277584 rows x 2 columns]

In [3]:
dataset = df
dataset["Month"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.month
dataset["Year"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.year
dataset["Date"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.date
dataset["Time"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.time
dataset["Week"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.week
dataset["Day"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day_name()
dataset["dayofweek"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofweek
dataset["dayofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.dayofyear
dataset["weekofyear"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.weekofyear
dataset["quarter"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.quarter
dataset["dayofmonth"] = pd.to_datetime(df["SETTLEMENTDATE"]).dt.day
dataset = df.set_index("SETTLEMENTDATE")
dataset.index = pd.to_datetime(dataset.index)
dataset.head(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # Remove the CWD from sys.path while we load stuff.

                     TOTALDEMAND  Month  Year  ... weekofyear quarter  dayofmonth
SETTLEMENTDATE                                 ...
2005-01-01 00:30:00   5033.86667      1  2005  ...         53       1           1

[1 rows x 12 columns]

In [4]:
NewDataSet = dataset.resample('D').mean()
NewDataSet.head

<bound method NDFrame.head of                 TOTALDEMAND  Month    Year  ...  weekofyear  quarter  dayofmonth
SETTLEMENTDATE                              ...
2005-01-01      4509.045107    1.0  2005.0  ...        53.0      1.0         1.0
2005-01-02      6165.431389    1.0  2005.0  ...        53.0      1.0         2.0
2005-01-03      6513.619479    1.0  2005.0  ...         1.0      1.0         3.0
2005-01-04      5969.506320    1.0  2005.0  ...         1.0      1.0         4.0
2005-01-05      4982.231841    1.0  2005.0  ...         1.0      1.0         5.0
...                     ...    ...     ...  ...         ...      ...         ...
2020-12-06      5611.857708   12.0  2020.0  ...        49.0      4.0         6.0
2020-12-07      4951.543750   12.0  2020.0  ...        50.0      4.0         7.0
2020-12-08      5331.054583   12.0  2020.0  ...        50.0      4.0         8.0
2020-12-09      4651.858333   12.0  2020.0  ...        50.0      4.0         9.0
2020-12-10      4343.080625   12.0  2020.0  ...        50.0      4.0        10.0

[5823 rows x 9 columns]>

In [5]:
NewDataSet.dropna(axis=0,how='any',thresh=None,subset=None,inplace=True)

In [6]:
NewDataSet.to_csv('NewDataSet.csv')
!cp NewDataSet.csv "drive/My Drive/NewDataSet.csv"

cp: cannot create regular file 'drive/My Drive/NewDataSet.csv': No such file or directory

In [8]:
df = pd.read_excel('NVIC.xlsx')
print(df)

      TOTALDEMAND  Month  ...  population  holidays
0     4509.045107      1  ...     4612097         1
1     6165.431389      1  ...     4612097         0
2     6513.619479      1  ...     4612097         0
3     5969.506320      1  ...     4612097         0
4     4982.231841      1  ...     4612097         0
...           ...    ...  ...         ...       ...
5759  4462.596250     10  ...     5926624         0
5760  4429.444583     10  ...     5926624         0
5761  4531.367083     10  ...     5926624         0
5762  4268.258958     10  ...     5926624         0
5763  4068.812292     10  ...     5926624         0

[5764 rows x 13 columns]

In [9]:
df.isna().sum()

TOTALDEMAND                       0
Month                             0
Year                              0
Week                              0
dayofweek                         0
dayofyear                         0
weekofyear                        0
quarter                           0
dayofmonth                        0
Maximum temperature (Degree C)    0
Minimum temperature (Degree C)    0
population                        0
holidays                          0
dtype: int64

In [10]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor

In [11]:
y=df['TOTALDEMAND']
df_t=df.drop(['TOTALDEMAND'],axis=1)

In [12]:
train_X, val_X, train_y, val_y = train_test_split(df_t,y, test_size = 0.25, random_state = 14)

In [13]:
model = RandomForestRegressor()
model.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [14]:
predicted_demand = model.predict(df_t)

In [15]:
predicted_demand = pd.DataFrame(predicted_demand, columns=['predicted_demand']).to_csv('predicted_demand.csv')

In [16]:
XGBModel = XGBRegressor()
XGBModel.fit(df_t,y , verbose=False)

[10:59:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [17]:
XGBpredictions = XGBModel.predict(df_t)

In [18]:
XGBpredictions = pd.DataFrame(XGBpredictions, columns=['XGBpredictions']).to_csv('XGBpredictions.csv')